.form {
    width: 75%;
}

.formHeader {
    width: 30%;
    margin-left:  100px;
    margin-top: 30px;
    position: relative;
    height: 160px;
}

.formNumber {
    width: 10%;
    float: right;
    position: relative;
}

.formRecipient {
    width: 30%;
    margin-left:  100px;
    margin-top: 15px;
    height: 130px;
}

.formServices {

    margin-left:  100px;
    margin-top: 100px;
}

.services {
    width: 95%;
}

.services th, .services td {
    text-align: right;
    border-bottom: 0.1em solid black;
}
.services th:first-child, .services td:first-child {
    text-align: left;
}

.formServiceList {
    
    margin-left:100px;
    width: 60%;
}

.serviceList{
    width: 110%;
    table-layout: fixed;
}

.serviceList td {
    text-align: right;
    width: 30px;
    overflow: hidden;
    white-space: nowrap;
}

.serviceList td:first-child {
    text-align: left;
}
